$maxValColor: rgba(89,255,252,.45);
$minValColor: rgba(89,255,252,.65);
$maxValColor4Text: rgba(89,255,252,.65);
$minValColor4Text: rgba(89,255,252,.85);

.sea-ice-ext-by-year-chart-wrap{
    width: 100%;
    // height: 250px;
    // background: rgba(0,0,0,.1);

    position: relative;

    .info-window {
        padding: 0 1rem;
        display: flex;
        color: rgba(255,255,255,.75);

        div {
            flex-grow: 1;
            flex-shrink: 0;
        }
    }

    .sea-ice-ext-by-year-bar-group {
        cursor: pointer;
    }

    .min-val-bars {
        fill: $minValColor;
    }

    .max-val-bars{
        fill: $maxValColor;
    }

    .min-value {
        color: $minValColor4Text;
    }
    
    .max-value {
        color: $maxValColor4Text;
    }

    .axis {
        text {
            fill: rgba(255,255,255,.5);
        }

        line {
            stroke: rgba(255,255,255,.4);
        }

        path {
            stroke: rgba(255,255,255,.4);
        }
        
    }

    .chart-tooltip-wrap{
        pointer-events: none;

        .tooltip-content{
            padding: .5rem;
            background: rgba(0,0,0,.6);
            color: rgba(255,255,255,.75);
            pointer-events: none;
        }
    }
}