#infoPanelDiv {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    width: 450px;
    min-height: 200px;
    background-color: rgba(0,48,77,0.85);
}