$themeColor: rgba(0,48,77,1);
$themeColorAlpha95: rgba(0,48,77,.95);
$themeColorAlpha85: rgba(0,48,77,.85);

$secIceExtColor: rgba(89,255,252,1);
$secIceExtColorAlpha15: rgba(89,255,252,.15);
$medianSecIceExtColor: #fff766;