$themeColor: rgba(0,48,77,1);
$themeColorAlpha95: rgba(0,48,77,.95);
$themeColorAlpha85: rgba(0,48,77,.85);
$themeColorAlpha5: rgba(0,48,77,.5);
$themeColorAlpha3: rgba(0,48,77,.3);
$themeColorAlpha1: rgba(0,48,77,.1);

$secIceExtColor: rgba(89,255,252,1);
$secIceExtColorAlpha75: rgba(89,255,252,.75);
$secIceExtColorAlpha5: rgba(89,255,252,.5);
$secIceExtColorAlpha15: rgba(89,255,252,.15);
$medianSecIceExtColor: #fff766;