@import '../../style/color.scss';
$height: 100px;
$textColor: rgba(255,255,255,.9);
$textColorLighter: rgba(255,255,255,.7);
$iconColor: rgba(255,255,255,.5);
$isAboveColor: #59fffc;
$isBelowColor: #ff824d;

#time-control-container{
    // position: absolute;
    // left: 0;
    // right: 0;
    // bottom: 20px;

    display: flex;
    justify-content: center;
    pointer-events: none;
}

.time-control {
    cursor: default;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    height: $height;
    // box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);    
    color: $textColor;
    background: $themeColorAlpha95;
    pointer-events: all;
    width: 100%;
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(255,255,255,.2);

    .widget-btn {
        font-size: 14px;
        color: #6e6e6e;
        height: $height;
        padding: 0;
        margin: 0;
        overflow: hidden;
        cursor: pointer;
        text-align: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        transition: background-color 125ms ease-in-out;
    }

    .widget-btn:hover{
        background: rgba(0,0,0,.1);
    }
    
    .play-btn{
        flex: none;
        width: 45px;
        border-right: 1px solid rgba(110,110,110,0.3);
    }

    .previous-btn{
        flex: none;
        width: 32px;
        padding-left: .25rem;
        border-left: 1px solid rgba(110,110,110,0.3);
    }

    .next-btn{
        flex: none;
        width: 32px;
        padding-right: .25rem;
    }

    .info-window{
        height: $height;
        min-width: 160px;
        flex: none;
        font-weight: 400;
        padding: 0 1rem;
        margin: 0;
        overflow: hidden;
        text-align: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        border-right: 1px solid rgba(110,110,110,0.3);
        line-height: 12px;
        box-sizing: border-box;
    }

    .time-slider{
        height: $height;
        // width: 193px;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        flex-grow: 1;
        flex-shrink: 0;
        // flex-basis: 100px;

        .calcite-slider{

            width: 100%;
            
            label {
                margin: 0;
            }
        }

        // .slider-ticks-wrap{
        // }
    }

    svg {
        stroke: $iconColor;
        fill: $iconColor;
    }

    .lighter-text {
        color: $textColorLighter
    }

    .is-above {
        color: $isAboveColor;
    }

    .is-below {
        color: $isBelowColor;
    }
}

.is-mobile {
    
    .time-control {
        .play-btn{
            width: 35px;
        }
    
        .previous-btn{
            width: 26px;
        }
    
        .next-btn{
            width: 26px;
        }
    }
}