html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#mapViewDiv{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background-color: black;

    .esri-attribution {
      display: none;
    }
}